"*":
  Zen:
    fullscreen: false
    softWrap: true
  "atom-alignment":
    addSpacePostfix: true
  "atom-focus-mode":
    focusModeLineOpacity: "100%"
    focusShadowMode:
      numberOfLinesToHighlightAboveCursor: 4
      numberOfLinesToHighlightBelowCursor: 4
    whenFocusModeIsActivated:
      enterFullScreen: false
      hideFooterBar: false
      hideLineNumbers: false
      hideSidePanels: false
  "autoclose-html": {}
  "autocomplete-emojis": {}
  "autocomplete-paths":
    enableHtmlSupport: true
  "autocomplete-python":
    useKite: false
  "autoupdate-packages":
    lastUpdateTimestamp: 1523024289711
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette": {}
  core:
    disabledPackages: [
      "vim-mode"
      "spell-check"
      "background-tips"
      "bookmarks"
      "github"
      "markdown-preview"
      "metrics"
      "welcome"
    ]
    ignoredNames: [
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    projectHome: "/Users/mtneug/projects/src"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "pen-paper-coffee-syntax"
    ]
    titleBar: "hidden"
    warnOnLargeFileLimit: 2
  editor:
    fontFamily: "Hack Nerd Font Mono"
    fontSize: 15
    maxScreenLineLength: 99999
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "9659ea4f-85be-4a91-8fea-d214e9ea7a12"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-spell":
    defaultLanguages: [
      "en_US"
    ]
    spellPath: "aspell"
  "linter-ui-default":
    panelHeight: 161
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#3b4252"
        blue: "#81a1c1"
        cyan: "#88c0d0"
        green: "#a3be8c"
        magenta: "#b48ead"
        red: "#bf616a"
        white: "#e5e9f0"
        yellow: "#ebcb8b"
      zBright:
        brightBlack: "#4c566a"
        brightBlue: "#81a1c1"
        brightCyan: "#8fbcbb"
        brightGreen: "#a3be8c"
        brightMagenta: "#b48ead"
        brightRed: "#bf616a"
        brightWhite: "#eceff4"
        brightYellow: "#ebcb8b"
    core:
      scrollback: 999999
    style:
      animationSpeed: 100
      defaultPanelHeight: "50%"
      fontSize: "13"
    toggles:
      autoClose: true
      cursorBlink: false
      runInsertedText: false
  "status-bar": {}
  "symbols-view": {}
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
